## Car Evaluation Data

---

### Import Libraries

In [1]:
import pandas as pd

In [2]:
cols = ['buying', 'maint', 'doors', 'persons','lug_boot','safety','class']

In [3]:
car = pd.read_csv('Data/car_evaluation.csv', names=cols)
car.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [7]:
car.describe()

       buying  maint doors persons lug_boot safety  class
count    1728   1728  1728    1728     1728   1728   1728
unique      4      4     4       3        3      3      4
top     vhigh  vhigh     3       2    small    med  unacc
freq      432    432   432     576      576    576   1210

---

### Preprocessing the Data

> Here, the dataset contains of 6 attributes and 1 class column having 4 class values{unacc, acc, good, vgood}. 


> As we are building a neural network we need to provide the neural node values it can read and not bias over a specific value of an attribute. 


> Therefore we convert all the nominal/categorical data into numeric by using **pandas.get_dummies** function. 

> This function will create additional columns of each values corresponding to each attribute, therefore increasing the number of total columns.